#gradient {
    border-radius: 16px 16px 0px 0px;
    Background: linear-gradient(180deg, rgba(103, 65, 136, 0.8) 0%, rgba(195, 172, 208, 0.8) 100%);
}

#card {
    border-radius: 16px;
}


#size {
    height: 155px !important;
    border-radius: 16px 16px 0px 0px;
    mix-blend-mode: multiply;
}