.mySwiper {
  width: 100%;

  .swiper-pagination-bullet {
    width: 10px !important;
    height: 2px !important;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }

  .swiper-pagination-bullet-active {
    background-color: #674188;
  }
}