.swiper {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 105%;
}

.swiperSlide {
    display: block;
    object-fit: cover;
    width: fit-content;
    width: fit-content;
    height: fit-content;
    height: 300px;
}