@tailwind base;
@tailwind utilities;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap");
@import "text.css";

@layer components {
  #__next {
    @apply h-full;
    overflow: scroll;
  }
}

@import url("https://webfontworld.github.io/pretendard/Pretendard.css");

html,
body {
  background-color: aliceblue;
  padding: 0;
  margin: 0;
  font-family: "Pretendard", sans-serif;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  position: fixed;
  width: 430px;
  max-height: 900px;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  overflow: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  -webkit-overflow-scrolling: touch;
}

html {
  width: 100vw;
  height: -webkit-fill-available;
}

#topbar {
  display: none;
}

#buttonPlacementMain {
  row-gap: 166px;
}
/* 
#onboardIndustryBox {
  height: 300px;
}
 */
#onboardInterestsBox {
  height: 420px;
}

@media only screen and (max-width: 895px) {
  body {
    width: 100vw;
    max-width: 430px;
    min-width: 320px;
    justify-content: flex-start;
    height: 100vh;
    min-height: 750px;
  }

  #__next {
    margin: 0;
    padding: 0;
  }
  /*  */
  #topbar {
    display: block;
  }

  #buttonPlacementMain {
    row-gap: 40px;
    margin-bottom: 80px;
  }

  /* #onboardIndustryBox {
    height: 236px;
  } */

  #onboardInterestsBox {
    height: 350px;
  }

  #gif {
    width: 60vw;
  }
}

@media only screen and (max-width: 400px) {
  #onboardInterestsBox {
    height: 280px;
  }
}
/* iOS only */

@supports (-webkit-touch-callout: none) {
  body {
    height: -webkit-fill-available;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: 0.3s;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

input,
textarea {
  outline: none;
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 99px;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-design {
  overflow-y: overlay;
}

.scrollbar-design::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}

.scrollbar-design::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 99px;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}
