@tailwind utilities;

@variants {
  /* ver 3.0 */
  .display-l {
    /* Display Large */
    font-family: "Spoqa Han Sans Neo";
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px; /* 114.286% */
    letter-spacing: -1.12px;
  }

  .display-m {
    /* Display Medium */
    font-family: "Spoqa Han Sans Neo";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; /* 120% */
    letter-spacing: -0.8px;
  }

  .display-s {
    /* Display Small */
    font-family: "Spoqa Han Sans Neo";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 116.667% */
    letter-spacing: -0.72px;
  }

  .headline-l {
    /* Headline Large */
    font-family: "Spoqa Han Sans Neo";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 128.571% */
    letter-spacing: -0.56px;
  }

  .headline-m {
    /* Headline Medium */
    font-family: "Spoqa Han Sans Neo";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 145.455% */
    letter-spacing: -0.44px;
  }

  .headline-s {
    /* Headine Small */
    font-family: "Spoqa Han Sans Neo";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.45px;
  }

  .title-l {
    /* Title Large */
    font-family: "Spoqa Han Sans Neo";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.6px;
  }

  .title-m {
    /* Title Medium */
    font-family: "Spoqa Han Sans Neo";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.45px;
  }

  .title-s {
    /* Title Small */
    font-family: "Spoqa Han Sans Neo";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.4px;
  }

  .body-l {
    /* Body Large */
    font-family: "Spoqa Han Sans Neo";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.45px;
  }

  .body-m {
    /* Body Medium */
    font-family: "Spoqa Han Sans Neo";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.4px;
  }

  .body-s {
    /* Body Small */
    font-family: "Spoqa Han Sans Neo";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.35px;
  }

  .label-l {
    /* Label Large */
    font-family: "Spoqa Han Sans Neo";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: -0.3px;
  }

  .label-s {
    /* Label Small */
    font-family: "Spoqa Han Sans Neo";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 145.455% */
    letter-spacing: -0.275px;
  }

  .label-s-02 {
    /* Label Small(M) */
    font-family: "Spoqa Han Sans Neo";
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 145.455% */
    letter-spacing: -0.44px;
  }

  .input-01 {
    /* Input box */
    font-family: "Spoqa Han Sans Neo";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.35px;
  }
  .input-02 {
    /* Input box_02 */
    font-family: "Spoqa Han Sans Neo";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.4px;
  }
  .button-01 {
    /* Button_01 */
    font-family: "Spoqa Han Sans Neo";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.45px;
  }
  .button-02 {
    /* Button_02 */
    font-family: "Spoqa Han Sans Neo";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: -0.4px;
  }
  .button-03 {
    /* Button_03 */
    font-family: "Spoqa Han Sans Neo";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.35px;
  }
}
