@tailwind utilities;

@variants {
  .display {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.01em;
  }
  .headline {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.01em;
  }
  .headline_s {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.01em;
  }
  .title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.01em;
  }
  .body {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.01em;
  }
  .label {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.01em;
  }
  .caption {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.01em;
  }
  .reload {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.01em;
  }
}
